{% extends "base.html" %}

{% block style %}{{obj.style}}{% endblock %}
{% block title %}{{obj.title}}{% endblock %}
{% block logic %}{{obj.logic}}{% endblock %}

{% block content %}

<!-- ======= Mobile nav toggle button ======= -->
<button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="assets/img/rutgers.png" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="/">David W Sosa</a></h1>
      <!-- <div class="social-links mt-3 text-center">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
    </div>
  </div>

  <nav class="nav-menu">
    <ul>
      <li class="active"><a href="#"><i class="bx bx-home"></i> <span>Home</span></a></li>
      <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
      <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>

    </ul>
  </nav><!-- .nav-menu -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>David W Sosa</h1>
    <p><span class="typed" data-typed-items="Analyst, Developer, Teacher"></span></p>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
        <p>Greetings! I'm a transplant originally from the Bronx living in Jersey City in the market for my next
          employment opportunity. In my last role I did anti-money laundering compliance for a
          private bank. I worked mainly on data quality control and reporting specifically for Latin American clients
          with US booked accounts. Throughout my time there I also worked on other projects on an ad hoc basis. These
          projects included testing and developing client onboarding and version control applications,
          among other things. Currently I am working as a remote teaching assistant for a data visualization certification program.</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/img/close-up.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>AML Analyst &amp; Web Developer</h3>
          <p class="font-italic">
            <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. -->
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> January 20th</li>
                <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> sosa-davidw.herokuapp.com</li>
                <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> (201) 746-5757</li>
                <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Jersey City, NJ, USA</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 32</li>
                <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Bachelor</li>
                <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> sosa.david88@gmail.com</li>
                <li><i class="icofont-rounded-right"></i> <strong>Accepting Consultant Opportunities:</strong> Yes</li>
              </ul>
            </div>
          </div>
          <!-- <p>
            Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut.
            Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
            Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque.
            Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
          </p> -->
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p> -->
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>David W Sosa</h4>
            <p><em>Motivated industry professional skilled in achieving top results in a fast-paced work environment and
                acknowledged for strategically solving problems, using balanced judgement on critical projects, and
                delivering on-time, high quality work looking to obtain a role with opportunities to leverage coding
                skills to analyze large data sets and develop engaging web applications.</em></p>
            <ul>
              <li>Jersey City, NJ</li>
              <li>(201) 746-5757</li>
              <li>sosa.david88@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Arts | Managerial Economics</h4>
            <h5><i class="fa fa-graduation-cap" aria-hidden="true"></i> 2008 - 2011</h5>
            <p><em>Union College, Schenectady, NY</em></p>
            <p>Major focuses on the tools and techniques of financial and quantitative analysis essential to the modern
              manager</p>
          </div>
          <div class="resume-item">
            <h4>Certificate | Full-Stack Web Development</h4>
            <h5><i class="fa fa-graduation-cap" aria-hidden="true"></i> 2017 - 2018 </h5>
            <p><em>Rutgers University, New Brunswick, NJ</em></p>
            <p>An intensive 24-­week-long program dedicated to designing and building web applications</p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Teaching Assistant</h4>
            <h5> <i class="fa fa-briefcase" aria-hidden="true"></i> 2018 - Present</h5>
            <p><em>Trilogy Education Services, LLC, Jersey City, NJ </em></p>
            <ul>
              <li>Periodically update class repository on Github with activities for lessons</li>
              <li>Collaborate with a team of faculty during meetings and actively contribute to new ideas on teaching material</li>
              <li>Work with students on a one-on-one and group-basis to reinforce programming concepts learned in class
              </li>

            </ul>
          </div>
          <div class="resume-item">
            <h4>Quality Control Analyst</h4>
            <h5> <i class="fa fa-briefcase" aria-hidden="true"></i> 2014 - 2020</h5>
            <p><em>JP Morgan Chase & Co., New York, NY</em></p>
            <ul>
              <li>Provided KYC subject matter expertise and technical recommendations for system integration design and
                UI</li>
              <li>Assisted in the preparation and execution of test plans and test scripts</li>
              <li>Ensured bugs could be fixed by investigating and summarizing observed vs. expected behavior</li>
              <li>Engaged in discussions with Risk, Anti-Money Laundering, and Compliance partners, and documented
                changes to workflow processes</li>
              <li>Assisted with developing new monitoring strategies and training materials</li>
              <li>Worked with business, Risk, Anti-Money Laundering, and Compliance teams to complete agreed upon
                business initiatives</li>
              <li>Identified areas of risk that need improvement, and resolved using available tools (Excel, SharePoint,
                Python,
                JIRA, etc.)</li>
              <li>Ran queries on database to extract relevant tickets and created reports based on senior
                management’s priorities</li>
              <li>Generated weekly metrics and decks for management reporting for the Latin America Private Bank</li>
              <li>Analyzed operating details provided for clients’ businesses and other revenue streams to substantiate
                and approve estimates of net worth and annual income </li>
              <li>Analyzed account activity to ensure it aligned with established risk thresholds for amounts, countries
                of origin/destination, and frequency, given the client’s profile</li>
              <li>Acted as Quality Control team representative in working group meetings with product development</li>
              <li>Communicated updates to management</li>
              <li>Responded to daily inquiries and assisted with escalation/resolution</li>
              <li>Trained new hires</li>

            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>David W Sosa</span></strong>
    </div>
  </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top"><i class="fas fa-arrow-circle-up"></i></a>


{% endblock %}